<input type="text" [(ngModel)]="filterName" />
<span>{{ filterName }}</span>

<!-- <ul *ngIf="movies && movies.length; else elseTemplate">
    <li *ngFor="let movie of movies | async; index as i">{{movie.title}}-{{i}}</li>
    <li *ngFor="let movie of filteredMovies; index as i">{{movie.title | getRidOfWhitespace: " "}}-{{i}}</li>
</ul> -->

<app-movies-list
  *ngIf="movies && movies.length; else elseTemplate"
  [movies]="filteredMovies"
></app-movies-list>

<ng-template #elseTemplate>
  Load data!
</ng-template>
