form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
input, .input {
    border: 1px black solid;
    border-radius: 5px;
    text-indent: 4px;
    width: 100%;
    &.ng-invalid.ng-touched {
        border: 1px red solid;
    }
    &.ng-valid.ng-touched {
        border: 1px rgb(81, 255, 0) solid;
    }
    &:focus {
        outline: none;
    }
}
button, .btn {
    width: 50%;
    margin: 4px auto;
    padding: 4px 6px;
    border: 1px #ccc solid;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

